---
// Layout
import Layout from '../layouts/Layout.astro';

// Components
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';
import FileInput from '@components/FileInput.astro';
---

<Layout title="Project Title">
	<main class="app-layout theme--dark">
		<Navbar></Navbar>
		<FileInput></FileInput>
		<Footer></Footer>
	</main>
</Layout>