---
// Layout
import Layout from '../layouts/Layout.astro';

// Components
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';
import FileInput from '@components/FileInput.astro';
---

<Layout title="Project Title">
	<main class="app-layout theme--dark">
		<Navbar></Navbar>
		<div class="container">
			<h1 class="app-title">SVG 2 Code</h1>
			<FileInput></FileInput>
		</div>
		<Footer></Footer>
	</main>
</Layout>